<header id="header">
	<div class="logo"><a href="/">MY BOOK</a></div>
	<nav class="nav">
		<ul class="nav__list">
			<li><a href="/All-book" class="nav__item">All Books</a></li>
			<li><a href="/Create-book" class="nav__item">Create Posts</a></li>
		</ul>
	</nav>
</header>