@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins', sans-serif;
	color: #fff;

}
a{
	display: block;
	text-decoration: none;
}
ul{
	list-style: none;
}
#header{
	position: fixed;
	width: 100%;
	max-height: 80px;
	top: 0;
	left: 0;
	padding: 30px 10px;
	background-color: rgb(8, 76, 201);
	display: flex;
	z-index: 10;
}
.btn{
	position: relative;
	display:block;
	outline: none;
	max-width: 350px;
	padding: 10px 15px;
	border-radius: 6px;
	background-color: rgb(11, 51, 138);
	color: #fff;
	font-size: 20px;
	border: none;
}
.logo{
	width: 30%;
	display: flex;
	align-items: center;
	padding: 0 20px;
}
.logo a{
	font-size: 30px;
	color: #fff;
	font-weight: 800;
}
.nav{
	display: flex;
	align-items: center;
	width:70% ;
	justify-content: center;
}
.nav__list{
	display: flex;
	margin-left: 80px;
}
.nav__item{
	color: #fff;
	font-size: 18px;
	
}
.nav__list li{
	margin: 0 15px;
}
.container{
	overflow: hidden;
	display: grid;
	place-items: center;
	text-align: center;
	grid-template-columns: 1fr;
	padding: 40px 30px;
	width: 100%;
	margin-top: 80px;
}
.title{
	margin-top: 40px;
	color: #000;
}
form{
	width: 40%;
	margin: 0 auto;
}
label, input{
	color: #000;
	font-size: 20px;
}
input, textarea{
	border: 2px solid #000;
	padding: 5px;
	border-radius: 5px;
}
select{
	width: 50%;
	font-size: 18px;
	padding: 4px 5px;
}
.form-control{
	display: flex;
	text-align: left;
	flex-direction: column;
	margin-bottom: 20px;
}
/*----------------------------- All Book -----------------------*/
.list__item{
width: 60%;
margin: 0 auto;
}
.list__item li{
width: 100%;
}
.book-item{
	background-color: rgb(128, 199, 221);
	color: #000;
	margin: 30px auto;
	border-radius: 30px;
	padding: 15px 20px;
	max-width: 450px;

}
.book-item .book-actions{
	width: 100%;
	padding: 10px;
	display: flex;
	margin-top: 20px;
	align-items: center;
	justify-content: space-evenly;
}
.book__name, .book__author, .book__content{
	margin-top: 10px;
	margin-bottom: 10px;
} 
.edit-book, .view-book{
	border-radius: 6px;
	padding: 7px 15px;
	font-size: 20px;
	text-align: center;
	color: #fff;
}
.edit-book{
	background-color: rgb(40, 185, 76);
}
.view-book{
	background-color: rgb(233, 130, 34);
}
/* -----------------BOOK-DETAIL---------------- */
#book-detail{
	color: #000;
	background-color: rgb(134, 152, 233);
	margin-top: 80px;
	width: 100%;
	padding: 40px 60px;
	min-height: 100vh;
}
#delete-form{
	margin: 0;
	padding: 0;
}
